@import 'colors';

.actions-panel-component {

}

.actions-panel-wrapper {
    position: relative;
    width:99999px;
}

.single-action {

    text-align: center;
    display: inline-block;
    position: relative;

    button {
        margin-bottom: 3vw;
        margin-right: 2vw;

        .oi {
            font-size: 27vw;
        }
    }

    label {
        font-size: 225%;
    }
}