$white: #fff;
$very-light-grey: #f9f9f9;
$lighter-grey: #a5a5a5;
$light-grey: #8e8e8e;
$medium-grey: #545454;
$medium-dark-grey: #353535;
$dark-grey: #191919;
$black: #000;
$red: #8e4040;
$bright-red: #b73333;