@import 'colors';

$dpad-button-border-rad: 1.5vw;

.gamepad-component {
    width: 100%;
    position: relative;

    .d-pad {
        background-color: $white;
        width: 50%;
        border-radius: 5vw;
        display: inline-block;
    }

    .buttons-panel {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 43vw;
    }
}

.d-pad button {
    position: relative;
    display: block;
    background-color: $very-light-grey;
    width: 33.333%;
    height: 14vw;
    vertical-align: center;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    border: $light-grey solid 2.5vw;

    .oi {
        color: $lighter-grey;
        font-size: 500%;
    }
}

.d-pad button:hover {
    background-color: $light-grey;
    color: $very-light-grey;

    .oi {
        color: $very-light-grey;
    }            
}

.d-pad .up {
    border-radius: $dpad-button-border-rad $dpad-button-border-rad 0 0;
    border-bottom: 0;
}

.d-pad .down {
    border-radius: 0 0 $dpad-button-border-rad $dpad-button-border-rad;
    border-top: 0;   
}

.d-pad .left, .d-pad .right {
    position: absolute;
    top: 33.3333333%;

    .oi {
        top: 0;
    }
}

.d-pad .left {
    border-radius: $dpad-button-border-rad 0 0 $dpad-button-border-rad;
    border-right: 0;
    left: 0;
}

.d-pad .right {
    border-radius: 0 $dpad-button-border-rad $dpad-button-border-rad 0;
    border-left: 0;
    right: 0;
}        

.d-pad .stop {
    border: 0;
    border-radius: 0;
}

.buttons-panel {
    * {
        font-size: 135%;
    }   

    .distance {
        text-align: left;
        position: absolute;
        top: 0.5vw;
        left: 0;
        width: 100%;
    }

    .speed {
        width: 100%;
        text-align: left;
        position: absolute;
        top: 15vw;
        right: 0;
    }

    .rotate-buttons {
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 1vw; 

        button {
            display: inline-block;
            border: $light-grey solid 2.5vw;
        }
    }

    .left, .right {
        width: 45%;
    }

    .left {
        margin-right:5%;
    }

    .right {
        margin-left: 5%;
    }    
}
