@import 'colors';

.log-component {
    ul {
        li {
            list-style-type: none;
            background-color: $medium-grey;
            color: $white;
            padding: 1vw;
            margin-bottom: 1.5vw;
            border-radius: 1vw;

            .oi {
                color: $dark-grey;
                margin-right:2vw;
            }
        }
    }
}