@import 'colors';


$one-third: 33.333333333%;

* {
    color: $light-grey;
    box-sizing: border-box;
    font-family: Orbitron;
    margin: 0;
    padding: 0;
    font-size: 2vw;
    position: relative;
    width: auto;
    height: auto;
    outline: none;
}

body {
    background-color: $very-light-grey;
    position: relative;
    padding-top: 1.5vw;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    position: relative;
    color: $light-grey;
    font-size: 180%;
    font-weight: bold;
    font-family: Orbitron;
}

h1::first-letter { 
}

h2 {
    font-size: 115%;
    font-weight: bold;
}

h3 {
    font-size:105%;
    font-weight: bold;
    color: $light-grey;
}

p {
    margin-bottom: 30px;
}

a {
    color: $red;
}

a:hover {
    color: $bright-red;
}

ul {
    list-style-position: inside;
}

li {
    list-style-type: none;
    position: relative;
    padding-left: 15px;
}

li:before {
    content: "•";
    font-size: 50px;
    position: absolute;
    top: -15px;
    left:-10px;
    color: $red;
}

button {
    background-color: $white;
    color: $light-grey;
    border: $light-grey solid 1vw;
    border-radius: 2.5vw;
    font-weight: bold;
    padding: 0 2vw;
    text-align: center;

    cursor: pointer;
    font-family: Orbitron;

    * {
        color: $light-grey;
    }

    .oi {
        position: relative;
        top: 1vw;
    }
}

button:hover {
    background-color: $light-grey;
    color: $very-light-grey;

    * {
        color: $very-light-grey;
    }
}

section {
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    height: 42vw;
    width: 100%;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 2vw;
}

.oi.large {
    font-size: 5vw;
}

.oi.mega {
    font-size: 7.5vw;
}

.oi.ultra {
    font-size: 15vw;
}

button,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

button:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus {
    box-shadow: none !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.data-val {
    background-color: $dark-grey;
    color: $very-light-grey;
    border-radius: 1vw;
    padding: 1vw;
    text-align: right;
    font-size: 75%;
}

fieldset {
    border: $very-light-grey dotted 0.25vw;
    padding: 0.75vw;
}

input[type="checkbox"] {
    width: 1.6vw;
    height: 1.6vw
}








